:host {
  width: 100%;
  height: 40px;
  display: block;
  background-color: #3f51b5;
  line-height: 40px;
  color: #fff;
}

mat-drawer-container {
  height: 100%;

  mat-drawer {
    background-color: lightgreen;
    font-size: 15px;
    width: 20%;
  }


}
