
<!--
 RxJS 실제 사용예를 배운다.

-->
<app-top-menu></app-top-menu>
<router-outlet></router-outlet>

<!--
<mat-sidenav-container fullscreen>

  <mat-sidenav #start (click)="start.close()">
      <mat-nav-list>

          <a mat-list-item routerLink="/">
              <mat-icon>library_books</mat-icon>
              <span>과정</span>
          </a>

          <a mat-list-item routerLink="about">
              <mat-icon>question_answer</mat-icon>
              <span>안내</span>
          </a>

          <a mat-list-item routerLink="info">
            <mat-icon>question_answer</mat-icon>
            <span>내역</span>
        </a>
          <a mat-list-item>
              <mat-icon>person_add</mat-icon>
              <span>등록</span>
          </a>

          <a mat-list-item>
              <mat-icon>account_circle</mat-icon>
              <span>로그인</span>
          </a>

      </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
-->


